<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JeLewine</title>
    <link rel="stylesheet" href="./static/assets/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./static/admin/mstyle.less" type="text/less">
    <!--<link rel="stylesheet" href="//cdn.jsdelivr.net/editor/0.1.0/editor.css">-->
    <link rel="shortcut icon" href="./static/img/head1.jpg" /> 
</head>
<body ng-app="myadmin">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index">JeLewine</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="index"><a href="index">首页</a></li>
                    <li class="code"><a href="archive">归档</a></li>
                    <li class="aboutme"><a href="aboutme">关于我</a></li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="content container" >
        <div class="container main-admin" ng-controller="ctrl" >
            <div class="col-xs-3 list-group">
                <a href="#" class="list-group-item" ng-repeat="listname in list" ng-click="" state>{{listname}}</a>
            </div>

            <div class="col-xs-9" ng-show="state.admin" ng-controller="adminctrl">
                <div class="panel panel-default" >
                    <div class="panel-heading">{{citem}}</div>
                    <div class="panel-body" >
                        <table class="table table-hover table-bordered">
                            <tr>
                                <th>id</th>
                                <th>title</th>
                                <th>date</th>
                                <th>action</th>
                            </tr>
                            <tr ng-repeat="item in listdata.group">
                                <td>{{item.id}}</td>
                                <td>{{item.title}}</td>
                                <td>{{item.date}}</td>
                                <td>
                                    <button class="btn btn-success btn-xs" data-toggle="modal" data-target="#modify-article" ng-click="selectArticle(item)">修改</button>
                                    <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#delete-article" ng-click="selectArticle(item)">删除</button>
                                </td>
                            </tr>
                        </table>
                        
                    </div>
                </div>
            </div>

            <div class="col-xs-9 main-write" ng-show="state.newArticle" ng-controller="writectrl">
                <p>标题</p>
                <input type="text" class="form-control title" ng-model="title">
                <p>日期</p>
                <input type="text" class="form-control date" ng-model="date">
                <p>正文</p>
                <div class="btn-group btn-ctrl">
                    <button class="btn btn-sm btn-default">预览</button>
                    <button class="btn btn-sm btn-default">清除</button>
                </div>
                <textarea name="" id="" cols="30" rows="30" class="form-control" ng-model="content"></textarea>
                <button type="button" class="btn btn-primary" ng-click="save()">保存</button>
            </div>
        </div>
        
        <!--修改modal-->
        <div class="modal fade" id="modify-article" ng-controller="modifyctrl">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">修改文章</h4>
                    </div>
                    <div class="modal-body">
                        <h4>标题</h4>
                        <input type="text" class="form-control" ng-model="sart.title">
                        <h4>日期</h4>
                        <input type="text" class="form-control" ng-model="sart.date">
                        <h4>正文</h4>
                        <textarea name="" id="" cols="30" rows="30" class="form-control" ng-model="sart.content"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" ng-click="cons()">保存</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        
        <!--删除modal-->
        <div class="modal fade" id="delete-article" ng-controller="delctrl">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">警告</h4>
                    </div>
                    <div class="modal-body">
                        <p>你确定要删除吗？</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">否</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="del()">是</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        
    </div>

    
    
    
    
    
    
    
    <script src="//cdn.bootcss.com/jquery/1.12.0/jquery.js"></script>
    <script src="./static/assets/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="//cdn.bootcss.com/angular.js/1.5.0/angular.js"></script>
    <script src="//cdn.bootcss.com/less.js/2.5.0/less.min.js"></script>
    <!--<script src="//cdn.jsdelivr.net/editor/0.1.0/editor.js"></script>-->
    <script src="//cdn.jsdelivr.net/editor/0.1.0/marked.js"></script>
    
    <script src="./static/admin/main-m.js"></script>
    <script src="./static/admin/service.js"></script>
    <script src="./static/admin/directive.js"></script>
    <script src="./static/admin/controller.js"></script>
</body>
</html>