<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JeLewine</title>
    <link rel="stylesheet" href="../assets/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="mstyle.less" type="text/less">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/editor/0.1.0/editor.css">

</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">JeLewine</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="home"><a href="home.html">首页</a></li>
                    <li class="code"><a href="code.html">编程</a></li>
                    <li class="talk"><a href="talk.html">杂谈</a></li>
                    <li class="translate"><a href="translate.html">翻译</a></li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="content container" ng-app="myadmin" ng-controller="mycontroller">
        <div class="col-xs-3 list-group">
            <a href="#" class="list-group-item" ng-repeat="listname in list" ng-click="changeitem($index)">{{listname}}</a>
        </div>
        <div class="col-xs-9">
            <div class="panel panel-default" >
                <div class="panel-heading">{{citem}}</div>
                <div class="panel-body" >
                    <table class="table table-hover table-bordered" ng-if="panelbody">
                        <tr>
                            <th>id</th>
                            <th>title</th>
                            <th>date</th>
                            <th>description</th>
                            <th>type</th>
                            <th>action</th>
                        </tr>
                        <tr ng-repeat="item in listdata">
                            <td>{{item.id}}</td>
                            <td>{{item.title}}</td>
                            <td>{{item.date}}</td>
                            <td>{{item.description}}</td>
                            <td>{{item.type}}</td>
                            <td>
                                <button class="btn btn-success btn-xs" data-toggle="modal" data-target="">修改</button>
                                <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="">删除</button>
                            </td>
                        </tr>
                    </table>
                    
                    <div class="editor" ng-show="!panelbody">
                        <textarea name="" id="" cols="30" rows="10"></textarea>
                        <select name="" id="" class="form-control" ng-model="newpappertype">
                            <option value="" ng-repeat="item in selectlist">{{item}}</option>
                        </select>
                        <button class="btn btn-success md-btn" ng-click="postval()">确认</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    
    
    
    
    <script src="../assets/jquery.js"></script>
    <script src="../assets/bootstrap/dist/js/bootstrap.js"></script>
    <script src="//cdn.bootcss.com/angular.js/1.5.0/angular.js"></script>
    <script src="../assets/less.js"></script>
    <script src="//cdn.jsdelivr.net/editor/0.1.0/editor.js"></script>
    <script src="//cdn.jsdelivr.net/editor/0.1.0/marked.js"></script>
    
    <script src="main-m.js"></script>
    <script src="service.js"></script>
    <script src="directive.js"></script>
    <script src="controller.js"></script>
</body>
</html>