*{
    margin: 0;
    padding: 0;
}


.content{
    padding-top:100px; 
}

.main-admin{
    padding: 0px;
    
    .editor{
        select{
            width: 30%;
            margin-top: 20px;
        }
        
        button{
            margin-top: 20px;
        }
    }
}

#modify-article{
    textarea{
        width: 100%;
        resize: none;
    }
}

.main-write{
    .btn-ctrl{
        margin-bottom: 10px;
    }

    textarea,select,input{
        width: 100%;
        margin-bottom:  20px;
        resize: none;
    }
}