doctype html
head
    title #{title}
    meta(charset="UTF-8")
    link(rel="stylesheet",href="./static/assets/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet",href="./static/css/papper.css")
body
    nav(class="navbar navbar-default navbar-fixed-top")
        div(class="container")
            .navbar-header
                button.navbar-toggle(data-toggle="collapse",data-target="#navbar-collapse")
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a(href="#").navbar-brand JeLewine
            div#navbar-collapse.collapse.navbar-collapse
                ul.nav.navbar-nav
                    li.index
                        a(href="index") 首页
                    li.archive
                        a(href="archive") 归档
                    li.aboutme
                        a(href="aboutme") 关于我
    div.content.container
        h2 #{title}
        hr
        p !{content}
        hr
        p.date #{date}
            
    script(src="./static/assets/jquery.js")
    script(src="./static/assets/bootstrap/dist/js/bootstrap.js")
    script(src="./static/js/common.js")
    script(src="./static/js/papper.js")